<application-header [isNavbarCollapsed]="isNavbarCollapsed" (toggleEvent)="toggleSidebar($event)"></application-header>
<!--Sidebar -->
<nav class="sidebar" [ngbCollapse]="isNavbarCollapsed">
    <ul class="list-group">
        <a [routerLink]="['./dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <i class="fa fa-home"></i>&nbsp;{{ 'Dashboard' }}
        </a>
        <a [routerLink]="['./account/group']" [routerLinkActive]="['router-link-active']" class="list-group-item"
           (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <i class="fa fa-user-plus"></i>&nbsp;{{ 'New group' }}
        </a>
        <a [routerLink]="['./cities']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <i class="fa fa-globe"></i>&nbsp;{{ 'Cities' }}
        </a>
        <a [routerLink]="['./blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Blank' }}
        </a>
        <a [routerLink]="['./faq']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <i class="fa fa-fw fa-question-circle"></i>&nbsp;{{ 'FAQ' }}
        </a>
        <a class="list-group-item" (click)="login()">
            <i class="fa fa-fw fa-sign-in"></i>&nbsp;{{ 'Login' }}
        </a>
    </ul>
</nav>
<section class="main-container">
    <router-outlet></router-outlet>
</section>
