<application-header [sidebarCollapsed]="sidebarCollapsed" (toggleEvent)="toggleSidebar($event)"></application-header>
<!--Sidebar -->
<nav class="navbar-static-side" [ngbCollapse]="sidebarCollapsed">
    <ul class="list-group">
        <a [routerLink]="['./dashboard']" class="list-group-item text-center" (click)="sidebarCollapsed = true">
            <i class="fa fa-home"></i>Home
        </a>
        <a [routerLink]="['./account/group']" class="list-group-item text-center" (click)="sidebarCollapsed = true">
            <i class="fa fa-user-plus"></i>Group
        </a>
        <a [routerLink]="['./cities']" class="list-group-item text-center" (click)="sidebarCollapsed = true">
            <i class="fa fa-globe"></i>Cities
        </a>
        <a [routerLink]="['./blank-page']" class="list-group-item text-center" (click)="sidebarCollapsed = true">
            <i class="fa fa-fw fa-bar-chart-o"></i>Blank
        </a>
        <a [routerLink]="['./faq']" class="list-group-item text-center" (click)="sidebarCollapsed = true">
            <i class="fa fa-fw fa-question-circle"></i>FAQ
        </a>
        <a class="list-group-item text-center" (click)="login()">
            <i class="fa fa-fw fa-sign-in"></i>Login
        </a>
    </ul>
</nav>
<section class="main-container">
    <router-outlet></router-outlet>
</section>
