:host {
    width: 100%;
    height: 100%;
}
#header {
    background-color: #444;
    box-shadow: 0 1px 13px -1px #999999;
    max-height: 60px;
    height: 60px;
    a {
        text-decoration: none;
        color: #dddddd;
    };
    a.dropdown-item {
        color: #000000;
    };
}

#logo {
    display: block;
    max-width: 70%;

    a img {
        height: 50px;
    }
}

#side_bar_toggle_area {
    max-width: 60px !important;
}

#side_bar_toggle {
    box-shadow: 0px 0px 0px #dddddd;
    i {color: #dddddd;
        border-color: #dddddd;
    }
}

button.btn-link:hover {
     text-decoration: none;
}

#notification {
    position: fixed;
    top: 5px;
    border: 0;
    z-index: 1000;
    left: 50%;
    width: 70%;
    transform: translate(-50%, 0%);
}

.dropdown-menu {
    top: 45px;
}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
}