<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <form id="group_registration_form" class="col-md-6" (submit)="saveGroup()">
            <!--<form id="user_registration_form" class="col-md-6" [formGroup]="form">-->
            <!--<form id="group_registration_form" [formGroup]="form" class="col-md-6" novalidate (ngSubmit)="save(form.value, form.valid)">-->
            <!--<div class="form-group">-->
            <!--<label for="name">Kickstarter campaign name</label>-->
            <!--<input type="text" class="form-control" formControlName="name" id="name">-->
            <!--</div>-->
            <!--  input-field col s12  -->
            <div class="form-group row">
                <label>Kickstarter project</label>
                <!---->
                <div class="input-group ">
                    <input type="text" class="form-control" [value]="name" disabled>
                    <!--<input #proj_name id="proj_name" type="text" list="projects" class="form-control" [value]="name" (keyup)="nameTyped($event)"-->
                    <!--(select)="selectProjectEvent($event)"-->
                    <!--autocomplete="off" aria-describedby="inputStatus">-->
                    <!---->
                    <!--<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>-->
                    <!--<span id="inputStatus" class="sr-only">(success)</span>-->
                    <!--<i class="icon ion-search" style="font-size: 35px" (click)="searchProject(proj_name.value)"></i>-->
                    <!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->
                    <button type="button" class="btn btn-success p-2" (click)="open(content)">
                        <i class="fa fa-search-plus fa-lg" aria-hidden="true"></i>
                    </button>
                    <!--<datalist #projects id="projects" style="display: compact">-->
                    <!--<option *ngFor="let item of filteredList">-->
                    <!--{{item.name}}-->
                    <!--</option>-->
                    <!--</datalist>-->
                </div>
            </div>
            <!--<p>ITEMS: {{filteredList.length}}</p>-->
            <!--<div class="suggestions" *ngIf="filteredList.length > 0">-->
            <!--<ul *ngFor="let item of filteredList">-->
            <!--<li>-->
            <!--<a (click)="selectProject(item)">{{item.name}}</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->

            <div class="form-group row">
                <label for="groupName">Group Name</label>
                <input type="text" class="form-control" id="groupName" [(ngModel)]="groupName" name="groupName" disabled>
            </div>

            <div class="form-group row">
                <label class="radio-inline mx-1">
                    <input type="radio" name="isLocal" id="global" [(ngModel)]="isLocal" [value]="false" [checked]="isLocal" (change)="scopeChanged()">
                    <span translate data-toggle="tooltip" data-placement="bottom" title="Backers of this project can live anywhere in your country. ">Global</span>
                </label>
                <label class="radio-inline mx-1">
                    <input type="radio" name="isLocal" id="local" [(ngModel)]="isLocal" [value]="true" [checked]="isLocal" (change)="scopeChanged()">
                    <span translate data-toggle="tooltip" data-placement="bottom" title="Backers of this project should live in your city">Local</span>
                </label>
                <select id="cityCombo" name="cityCombo" class="form-control p-0" [(ngModel)]="selectedCity" (change)="citySelected()" (select)="citySelected()" [disabled]="!isLocal">
                    <option *ngFor="let city of cities; let i = index" [ngValue]="city">
                        {{ city.name }}
                    </option>
                </select>
            </div>

            <div class="form-group row">
                <label for="groupLimit" class="mr-2">Group member limit:</label>

                <input id="groupLimit" type="range" min="2" max="15" step="1" name="groupLimit" [(ngModel)]="groupLimit" name="groupLimit"/>
                {{ (' ' + groupLimit).slice(-2) }}
            </div>

            <ul>
                <li>Name: {{name}}</li>
                <li>Group: {{groupName}}</li>
                <li>Local: {{isLocal}}</li>
                <li> Limit: {{groupLimit}}</li>
                <li> City: {{selectedCity?.name}} - {{selectedCity?.id}}</li>
                <li> Country: {{country}}</li>
            </ul>

            <button class="btn-success btn" type="button" (click)="submit()">Submit</button>
        </form>
        <div class="col-md-3"></div>
    </div>

    <!-- Modal -->
    <ng-template #content let-c="close" let-d="dismiss" size="lg">
        <div class="modal-header px-0">
            <div class="d-flex flex-row container px-0">
                <category class="w-25 pl-2" (selected)="selectedCategory = $event"></category>
                <span class="w-25 pr-3 text-right align-self-center">Find projects:</span>
                <input class="w-50 input-block-level search-query w-auto" [value]="name" (keyup)="nameTyped($event)"/>
            </div>
            <!--<div class="row container col-md-12">-->
            <!--<category class="col-sm-3" (selected)="selectedCategory = $event"></category>-->
            <!--<span class="col-sm-3 m-0 p-0 align-self-center">Find projects:</span>-->
            <!--<input class="col-sm-6 input-block-level search-query" [value]="name" (keyup)="nameTyped($event)"/>-->
            <!--</div>-->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="c('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="suggestions" *ngIf="filteredList.length > 0">
                <div *ngFor="let item of filteredList; let i=index" class="row justify-content-around">
                    <img src="{{ item?.photo?.small }}" (click)="selectProjectByIndex(i); c('Close click')" data-dismiss="modal" class="img-circle">
                    <div class="media-body">
                        <h4 class="media-heading" (click)="selectProjectByIndex(i); c('Cross click')">{{item.name}}</h4>
                        {{item.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>

</div>
