/*@import '../../theme/sass/auth';*/

/*icon.ion-search {*/
  /**/
/*}*/

#proj_name {
  width: 80%;
  margin-right: 10px;
}

label[for="groupLimit"] {
  margin-bottom: 0;
}

#myModal {
  color: #222222;
}

#projects_modal {
  background: white;
}

#cityCombo {
    width: 150px;
    /*padding: 5px;*/
    margin-left: 10px;
    font-size: 16px;
    line-height: 1;
    border-radius:5px;
    display:inline-block;
    border: 0;
    /*border-radius: 0;*/
    height: 30px;
}