/*@import '../../theme/sass/auth';*/

/*icon.ion-search {*/
  /**/
/*}*/

#proj_name {
  width: 80%;
  margin-right: 10px;
}

label[for="groupLimit"] {
  margin-bottom: 0;
}

#myModal {
  color: #222222;
}

#projects_modal {
  background: white;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.completer-limit /deep/ .completer-dropdown {
    overflow-y: auto;
    max-height: 20rem;
}

.chevron {
    padding-top: 40%;
}

.chevron-holder {
    position: absolute;
    height: 100%;
    border: 1px solid rgba(0,0,0,.15);
    border-top-color: rgba(0, 0, 0, 0.14902);
    background-color: white;
    border-radius: 25%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
}

.chevron-holder.dropdown-open {
    border-color: #5cb3fd;
}

.with-chevron /deep/ .completer-input {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}