<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
            <!--<charset>utf8</charset>-->
        <!--</encoder>-->
    <!--</appender>-->
    <!--https://github.com/spring-projects/spring-boot/blob/master/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->

    <logger name="org.springframework.web" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.security.web.FilterChainProxy" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.github.kickshare" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.github.kickshare.db.tools.SQLLogging" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.flywaydb.core" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>


    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>