img.project_logo {
    border: 2px solid black;
    box-shadow: 10px 10px 15px #282828;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

.card-header {
    background-color: #d2d2d2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-block {
    background-color: #d2d2d2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
