<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-offset-3 col-md-6">
            <!--<form name="form" formGroup="form">-->
                <form #userForm="ngForm" ngS>
                <!--<form id="form" name="form" class="col-md-6" (submit)="submit()">-->
                <div class="form-login">
                    <h4>User registration</h4>
                    <div class="input-group mb-1">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input name="login-username" class="form-control" [(ngModel)]="email" placeholder="email" required>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input name="login-password" type="password" class="form-control" [(ngModel)]="password" placeholder="password" required>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                        <input name="name" class="form-control" [(ngModel)]="name" placeholder="name" required>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                        <input name="surname" class="form-control" [(ngModel)]="surname" placeholder="surname" required>
                    </div>
                    <hr>
                    <label class="align-middle">Country: </label>
                    <!--<select class="form-control" id="category_select">-->
                        <!--<option *ngFor="let item of countries">-->
                            <!--{{item}}-->
                        <!--</option>-->
                    <!--</select>-->
                    <div class="input-group mb-1">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <select class="form-control" name="country_select" [(ngModel)]="country">
                            <option *ngFor="let item of countries" [ngValue]="item">
                                {{item.name}}
                            </option>
                        </select>
                    </div>

                    <div class="input-group mb-1">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input name="city" type="text" class="form-control" [(ngModel)]="city" placeholder="city"
                               [ngbTypeahead]="searchCityFunction" [inputFormatter]="cityFormatter" [resultFormatter]="cityFormatter" required/>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input name="street" type="text" class="form-control" [(ngModel)]="location" placeholder="street"
                               [disabled]="city == null || city.id == null"
                               [ngbTypeahead]="searchStreetFunction" [inputFormatter]="streetFormatter" [resultFormatter]="streetFormatter"
                               (selectItem)="streetSelected($event)" required/>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input name="postalCode" class="form-control" [(ngModel)]="postalCode" placeholder="postal code"
                               [disabled]="true" required>
                    </div>
                    <div class="wrapper mt-2">
                        <button [disabled]="!form.valid" class="btn btn-primary btn-md">Submit <i class="fa fa-send"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <ul>
            <li> City: {{city?.name}} - {{city?.id}}</li>
            <li> Street: {{location?.address}}</li>
            <li> Postal: {{location?.postal}}</li>
        </ul>
    </div>
</div>