#searchOptions {
    width: 100%;
    margin-top: -5px;
    min-height: 50px;
}

#map {
    min-height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    /*width: 1200px;*/
    height: 100%;
    /*width: 100%;*/
}

#search {
    height: 25px;
}

.form-control {
    width: auto;
    display: inline-block;
}

/*label {*/
    /*width: auto;*/
    /*display: inline-block;*/
    /*height: 33px;*/
/*}*/

/*#searchInput {*/
    /*width: 95%;*/
    /*height: 33px;*/
/*}*/

#category_group select {
    height: 33px;
    margin: 0px;
    padding: 0px;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    color: black;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

/*#map {*/
    /*min-height: 400px;*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*height: 80%;*/
/*}*/

/*#search {*/
    /*height: 25px;*/
/*}*/

/*#gmap_complete {*/
    /*!*max-width: 300px;*!*/
    /*!*height: 80px;*!*/
    /*.completer-holder {*/
        /*!*max-width: 300px;*!*/
    /*}*/
    /*.completer-input {*/
        /*!*height: 80px;*!*/
    /*}*/
/*}*/

/*#search {*/
    /*height: 43px;*/
/*}*/

