<div class="row m-2">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="What is Kickshare?">
                <ng-template ngbPanelContent>
                    Kickshare is community project which helps Kickstarter fans organize their group pledges.
                    The idea is simple - Kickshare works as a platform for finding people who backs the same project as you so that you can form
                    a group and save money on shipping. It does not matter whether you are aiming for multiple 10X+ group pledge or you
                    just want to split shipping fee in two with other backer from your town.

                    <!--Kickshare works as platform to help finding backers and ease leaders organizing pledges.-->
                    <br/>
                    Everybody wins, except postal offices.
                </ng-template>
            </ngb-panel>
            <ngb-panel title="What's the difference between leader and backer?">
                <ng-template ngbPanelContent>
                    Group is a form of registered users with one leader (owner of the group) and multiple backers. Leader takes the most responsibility
                    in the group, he organizes the pledge and Kickshare is mainly build for this role. It helps him store information about backers
                    (what they want to pledge, extra add-ons ets) and helps communicate with them.

                    For backers it mainly provides information that such groups exists and is formed.
                </ng-template>
            </ngb-panel>
            <ngb-panel title="How Kickshare protects me against fraud?">
                <ng-template ngbPanelContent>
                    It does not protect you anyhow. Kickshare is build on old fashioned gentlemen's (and gentlewoman's) word.
                    The system encourages flow which minimize risks but does not work as middle man (yet?).
                </ng-template>
            </ngb-panel>
            <ngb-panel title="How can I support this project?">
                <ng-template ngbPanelContent>
                    Kickshare is open source project with no intentions of profit. If you are Java/Kotlin or Angular/JS developer, please contact me
                    at <b>kickshare (at) gmail (dot) com</b>. Especially frontend developer will be more than welcome for help.

                    Besides developing the project there is server and service cost. Currently I am paying everything from my pocket
                    and keeping the project as low budget as I can but any help covering the budged would be more than appreciated.
                    So please consider sending me your thank you through Ko-fi, Paypal or Open Collective.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="col-md-1"></div>
</div>